.layout {
  text-align: center;
  ul {
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
  }
  li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    //&:hover {
    //  color: red;
    //}
  }
  .addBtn {
    //display: none;
    margin-left: 10px;
  }
}
